<?xml version="1.0"?>
<launch>
  <arg name="sim" default="false" />
  <arg name="limited" default="false"/>
  <arg name="debug" default="false" />
    
  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/hand_controller/follow_joint_trajectory"/>
  <remap unless="$(arg sim)" from="/follow_joint_trajectory" to="/puthand_controller/follow_joint_trajectory"/>
  
  <!-- Launch moveit -->
  <include file="$(find puthand_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>
</launch>
